@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  height: 100vh;
  background: #ffffff;
}

.gradient-bkg {
    background: radial-gradient(263.81% 740.81% at 8.26% 22.95%, #580A96 0%, #1F0062 26.04%, #18004D 47.86%, #0B0024 94.79%)
}
.radial-gradient-bkg {
  background: radial-gradient(circle, #736994, #0B0024);
}

h1, h2, p, span {
  font-family: 'Montserrat', sans-serif !important;
}

.cta-button {
  position: relative;
  background: #E12F6A;
}
.cta-button::after {
  content: '>';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #ffffff;
}
.cta-button span {
  color: #ffffff;
}

.error {
  color: #E12F6A;
}


.page-transition {
  transition: transform 0.5s, opacity 0.5s;
}

.page-enter {
  transform: rotateY(180deg);
  opacity: 0;
}

.page-exit {
  transform: rotateY(0);
  opacity: 1;
}

.rotate-auto {
  display: inline-block;
  transform: rotate(0deg);
  animation: auto-rotate 5s linear infinite;
}

@keyframes auto-rotate {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}